body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header{
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #111;
  padding: 20px;
  margin-bottom: 50px;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

button{
  font-size: 14px;
  color: #fff;
  background: #111;
  border: none;
  border-radius: 2px;
  padding: 8px 15px;
  cursor: pointer;
}

button:hover{
  background: #333;
  cursor: pointer;
}

hr{
  border: 0;
  height: 1px;
  margin: 50px 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}


.category-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-list a{
  width: 180px;
  height: 50px;
  display: inline-block;
  border-radius: 3px;
  background: #eee;
  margin-right: 20px;
  text-decoration: none;
}

.category-list a:hover{
  background: #F3F3F3;
}

.category-list p{
  text-align: center;
}



.post-list{
  margin-top: 20px;
  width: 100%;
}

.post-list th{
  text-align: left;
}

.post-list thead tr{
    background: #f3f3f3;
}

.post-list thead th, .post-list tbody td{
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
}